<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.2.xsd">
    <beans:import resource="spring-database.xml"/>

    <http auto-config="true">
        <intercept-url pattern="/users/**" access="hasAnyRole('ROLE_TEACHER')"/>
        <intercept-url pattern="/lections/edit/**" access="hasRole('ROLE_TEACHER')"/>
        <intercept-url pattern="/lections/delete/**" access="hasRole('ROLE_TEACHER')"/>
        <intercept-url pattern="/lections/add/**" access="hasRole('ROLE_TEACHER')"/>
        <intercept-url pattern="/lections" access="hasAnyRole('ROLE_STUDENT','ROLE_TEACHER')"/>
        <intercept-url pattern="/lections/show/" access="hasAnyRole('ROLE_STUDENT','ROLE_TEACHER')"/>
        <intercept-url pattern="/lections/journal/**" access="hasAnyRole('ROLE_STUDENT','ROLE_TEACHER')"/>
        <intercept-url pattern="/signup/**" access="permitAll"/>
        <csrf disabled="true"/>
        <form-login
                login-page="/signin"
                login-processing-url="/appLogin"
                username-parameter="username"
                password-parameter="password"
                default-target-url="/lections"/>
        <logout
                logout-url="/logout"
                logout-success-url="/signin"/>
    </http>


    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query=
                                       "select login, password, true from users where login=?"
                               authorities-by-username-query=
                                       "select login, role from users where login =?"/>
            <!--<password-encoder-->
        </authentication-provider>
    </authentication-manager>
</beans:beans>